.sulawesi1 {
    fill-color: #006100;
    fill-opacity: 1;
}
.sulawesi2 {
    fill-color: #619900;
    fill-opacity: 1;
}
.sulawesi3 {
    fill-color: #c5db00;
    fill-opacity: 1;
}
.sulawesi4 {
    fill-color: #ffd900;
    fill-opacity: 1;
}
.sulawesi5 {
    fill-color: #ff8400;
    fill-opacity: 1;
}
.sulawesi6 {
    fill-color: #ff2600;
    fill-opacity: 1;
}